language: node_js
node_js:
  # works with node-v0.6 and 0.8, but fs-ext might not build on them
  # v0.8 on travis does not find qibl
  # - 0.8
  - 0.10
  - 6
  - 8
  - 9
  - 10
  - 12
before_install:
  - npm install -g qnit
  - npm install qibl
after_success:
  - if [ `node -p 'process.version.slice(0, 3)'` != "v8." ]; then exit; fi
  - npm install -g nyc codecov coveralls
  - nyc -r text -r lcov npm test && codecov
  - nyc report -r text-lcov | coveralls
